*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}
/* Both Calaculator and Form */
section{
    padding: 2rem;
    border-radius: 0.5rem;
    padding-bottom: 1rem;
    background-color: aqua;
    min-height: 30%;
}

/* Item Details Field */

.calculator{
    width: 40%;
    min-height: 35%;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
}
/* title */
.heading{
    font-size: 2rem;
    font-weight: bold;
    text-align: center  ;
}
/* Button field of calculator */
.calculator-action{
    margin-top: 1rem;
    position: relative;
}

ul{
    list-style: none;
}
li{
    width: 80%;
    font-size: 1rem;
    margin: 0.2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* Input fuild section */
.input-field{
    width: 20%;
    
}

/* Heading for form  */
.subheading{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}
/* Align to left side */
.left{
    margin: 0.75rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
label{
    font-size: 1rem;
    font-weight: 500;
}
input{
    outline: none;
    padding: 3px;
    width: 8rem;
    border: 1px solid black;
    cursor: pointer;
}
input:focus, input:hover{
    background-color: rgb(207, 200, 200);
}

/* Disable spin from input field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.item-action{
    margin-bottom: 0;
}
.btn-btn{
    padding: 5px 10px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    background-color: blueviolet;
    border: 1px solid blueviolet;
    border-radius: 5px;
    cursor: pointer;
}
.btn-btn:hover{
    background-color: brown;
}

@media screen and (max-width: 912px) {
 .calculator, .input-field{
    width: 70%;
    min-height: max-content;
 }
 body{
    display: flex;
    flex-direction: column;
 }
 .calculator{
    min-height: 30%;
 }
}